<% if signed_in? %>
	<div class="row">
		<aside class="span4">
		<section>
		<%= render 'shared/user_info' %>
		</section>
		<section>
		<%= render 'shared/stats' %>
		</section>
		<section>
		<%= render 'shared/micropost_form' %>
		</section>
		</aside>
		<div class="span8">
			<h3>我的动态</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>欢迎来到'我的微博'</h1>
		<h2>这是<a href='<%= root_path %>'>我的微博</a>的首页。</h2>
		<%= link_to "现在注册！",signup_path,class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png",alt: "Rails"),"http://railstutorial.org/" %>
<% end %>
